body {
  background-image: url(/background.jpg);
  background-position: center;
  color: #fff;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.score-board {
  margin: 10px;
  padding: 5px 15px;
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(30, 55, 25, 0.5) inset, 0 1px 0 #fff;
  background-color: rgba(74, 105, 74, 0.7);
  min-width: 150px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.grid {
  height: 560px;
  width: 560px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(221, 232, 221, 0.9);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(106, 113, 106, 0.5) inset, 0 1px 0 #fff;
  color: #85796b;
}

.grid div {
  height: 70px;
  width: 70px;
}